@import "_vars";
@import "_fonts";
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar {
    width: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
body{
    width: 100%;
    font-family: 'merriweather-regular';
    font-size: 16px;
    line-height: 200%;
    color: $ns;
    letter-spacing: 0.04em;
}
h1,h2,h3,h4{
    font-family: 'oswald-bold';
    text-transform: uppercase;
    color: $ns;
}
h1{
    font-size: 64px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.02em;
}
h2{
    font-size: 3em;
    line-height: 117%;
    letter-spacing: .02em;
}
h3{
    font-size: 24px;
}
a{
    display: inline-block;
    text-decoration: none; 
    text-transform: uppercase;
    color: $mw;
    font-family: 'oswald-bold';
    font-size: 12px;
    line-height: 200%;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
//----------------------------------------------------------секция MAIN------------------------------------------------------
.main{
    width: 100%;
    height: 100vh;
    display: flex;                                                                 
    background-image: url(../images/bg_img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        z-index: 2;
        background-color: rgba(35, 38, 48, 0.5);
    }
    &__container{
        flex-direction: column;
        justify-content: center;
    }
    &__title{
        max-width: 800px;
        color: $mw;
    }
}
.icon{
    fill: $ns;
    cursor: pointer;
}
.icon:hover{
    transition: .5s all;
    fill: $bw !important;
}
section{
    padding: 9vh 0;
    display: flex;
}
.container{
    display: flex;
    align-items: center;
    width: 65%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 15;
    &-center{
        justify-content: center !important;
    }
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list:not(:first-child){
        margin-left: 32px;
    }
    &__link:hover{
        border-bottom: 3px solid #b0dce2;
    }
}
.btn{
    font-size: 12px;
    font-family: 'oswald-bold';
    line-height: 200%;
    width: 220px;
    color: $mw;
    background: $ns;
    border: 2px solid $ns;
    padding: 4px 0px;
    transition: all .3s;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    outline: none;
    &:hover{
        color: $ns;
        background: $bw;
        border: 2px solid $bw; 
    }
    &:active{
        background: $bwb;
    }
    &:disabled{
        background: $ns10;
        color: $ns50;
    }
    &-big{
        font-size: 14px;
        width: 300px;
        padding: 10px;
    }
}
.btn-onBlack{
    font-size: 12px;
    font-family: 'oswald-bold';
    line-height: 200%;
    padding: 4px 0px;
    width: 220px;
    color: $mw;
    border: 2px solid $mw;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background: $mw; 
        color: $ns;   
    }
    &:active{
        background:$ns10;
        border: 2px solid $ns10;
    }
    &-big{
        font-size: 14px;
        padding: 10px 0px;
        width: 300px;
    }
}
.btn-catalog{
    width: 188px;
    text-align: center;
}
.btn-center{
    margin: 0 auto;
}
#catalog{
    border: none;
    outline: none;
    background: transparent;
    color: $mw;
    cursor: pointer;
}
.mini-catalog{
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1rem;
    margin-top: 32px;
    &__item{
        width: 220px;
       background: $mw;
    }
    &__inner-item{
        width: 188px;
        margin: 0 auto;
        padding: 24px 0;
    }
    &__img{
        width: 100%;
        height: 160px;
        background-image: url(../images/leica.png);
        background-repeat: no-repeat;
        background-position: top;
    }
    &__price{
        margin: 16px 0 24px 0;
        font-size: 24px;
        line-height: 133%;
    }
}
.text-box{
    &__main{
        font-family: 'merriweather-regular';
        padding-top: 32px;
        color: $ns65;
        font-size: 16px;
        line-height: 200%;
    }
}
.white-text{
    color: $mw;
}
.disp-none{
    display: none;
}
.rotate-180{
    transform: rotate(180deg);
}
//-------------------------------------------------------------Форма
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__box{
        display: flex;
        flex-direction: column;
        width: 460px;
        margin-bottom: 42px;
        label{
            font-family: 'roboto-bold';
            line-height: 100%;
            padding-bottom: 8px;
        }
    }
    &__questons{
        margin-top: 48px;
    }
    &__textarea{
        width: 100%;
        min-height: 128px;
        outline: none;
        border: none;
        background: $ns05;
        padding: 16px;
        font-family: "roboto-regular";
        color: $ns;
        resize: none;
        &:hover{
            background: $ns10;
        }
        &:focus{
            border: 1px solid $ns;
            background: $mw;
        }
        &::placeholder{
            color: $ns35;
        }
    }
}
input{
    font-family: 'roboto-regular';
    color: $ns35;
    line-height: 150%;
    border: none;
    outline: none;
    background: $ns05;
    padding: 16px 0 16px 16px;
    border: 1px solid transparent;
    width: 100%;
    &::placeholder{
        color: $ns35;
        font-family: 'roboto-regular';
        line-height: 150%;
    }
    &:hover{
        background: $ns10;
    }
    &:focus{
        background: $mw;
        color: $ns;
        border: 1px solid $ns90;
    }
    // &:valid{
    //     color: $ns;
    //     background: $mw;
    //     border: 1px solid #34AC7E;
    // }
    &._error{
        color: $ns;
        background: $mr10;
        border: 1px solid transparent ;
    }
}
//----------------------------------------------------------секция QUESTIONS----------------------------------------------------
.questions__container{
    justify-content: space-between;
    align-items: flex-start;
}
.components{
    width: 100%;
    height: 100%;
    background: $ns03;
    &__container{
        flex-direction: column;
    }
    &__list{
        display: flex;
        flex-flow: row wrap;
        margin-top: 48px;
    }
    &__text-box{
        text-align: center;
        .text-box__main{
            width: 560px;
        }
    }
    &__box{
        width: 220px;
        text-align: center;
    }
}
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    z-index: 999;
    &__inner{
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__text-box{
        width: 460px;
        padding: 48px 22px;
        background: $mw;
    }
    .text-box__main{
        padding: 16px 0 32px 0;
    }
}

@import "_header";
@import "_footer";
@import "_mediaIndex";