@media screen and (max-width: 1201px) {
    .about__img{
        display: none;
    }
}
@media screen and (max-width: 1101px) {
    .catalogWorking__title{
        flex-direction: column;
    }
}
@media screen and (max-width: 769px) {
    .container{
        width: 81%;
    }
    .text-box{
        width: 100% !important;
    }
    .howtake__container{
        justify-content: center;
    }
    .howtake__inner{
        align-items: initial;
    }
    .howtake__text {
        text-align: left;
        .text-box__main{
            width: 100%;
        }
    }
    .form__box {
        width: 100%;
    }
    .components__text-box .text-box__main{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .main__title{
        font-size: 48px;
        line-height: 117%;
    }
}