@media screen and (max-width: 1020px) {
    .components__list{
        margin-top: 0;
    }
    .components__box{
        margin-top: 48px;
    }
}
@media screen and (max-width: 768px) {
    .components__text-box .text-box__main{
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .components__list{
        justify-content: center;
    }
}
