// MAIN
$mw: #FFF;

// Black / Night Sky
$ns  : #232630;
$ns90: #393C45;
$ns65: #707278;
$ns50: #919297;
$ns35: #B2B3B7;
$ns10: #E9E9EA;
$ns05: #F4F4F5;
$ns03: #F8F8F9;

// Accent / Bionic Water
$bw: #B0DCE2;
$bw05: #A9D3D9;
// Dark Accent / Bionic Water + Night Sky
$bwb: #A2CAD0;

// Red / Medical Red
$mr: #DD5356;
$mr10: #FCEEEE;
