@import "_global";

.container-center{
    justify-content: center;
}
.btn-center{
    margin: 0 auto;
}
.virtual__btn{
    margin-top: 48px;
}

.whyme{
    &__components{
        width: 100%;
        justify-content: space-between;
    }
}
.life{
    &__box{
        svg{
            width: 48px;
            height: 48px;
        }
    }
}
@media screen and (max-width: 1020px) {
    .components__list{
        margin-top: 0;
    }
    .components__box{
        margin-top: 48px;
    }
}
@media screen and (max-width: 768px) {
    .components__text-box .text-box__main{
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .components__list{
        justify-content: center;
    }
}