@import "_global";
.catalogSec{
    &__container{
        flex-direction: column;
    }
}
.catalog{
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-gap: 1rem;
    margin-top: 32px;
    &__item{
        width: 100%;
        height: 176px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $ns05;
        font-size: inherit;
    }
}
.catalog__svg{
    fill: $ns;
}
.catalog__item:hover{
    transition: .5s all;
    background-color: $ns;
    .catalog__svg{
        fill: $mw;
    }
    .catalog__text{
        color: $mw;
    }
}
