@import '_libs';
@import '_global';

.product{
    &__container{
        flex-direction: column;
        align-items: start;
    }
    &__title{
        max-width: 700px;
        margin-bottom: 32px;
        font-size: 3.3em;
    }
    &__items{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}
.box-inner{
    display: flex;
    flex-direction: column;
}
.preview{
    max-width: 300px;
    &__img{
        max-width: 300px;
        max-height: 448px;
    }
    &__slider{
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .slick-list{
            padding-left: 10px;
        }
    }
    &__item{
        cursor: pointer;
        img{
            width: 32px;
            height: 40px;
        }
    }
}
.slick-slide{
    width: 56px;
}
.settings-slider{
    background-color: $ns05;
    padding: 16px;
    &__item{
        margin-top: 8px;
        margin-right: 5px;
    }
}
.setings__options{
    margin-top: 20px;
}
.settings__slider{
    display: flex;
}
.active{
    background-color: $bw;
    color: $ns;
    text-transform: none;
}
.settings-options{
    min-width: 380px;
    background-color: $ns05;
    padding: 16px;
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
    }
    &__name, &__change{
        color: $ns65;
        font-family: 'merriweather-regular';
        line-height: 171%;
        font-size: 14px;
    }
    hr{
        height: 1px;
        background-color: $ns25;
        border: none;
        flex-grow: 1;
        margin: 0 8px;
    }
    &__open-item{
        color: $ns;
        text-decoration: underline;
        font-family: 'merriweather-regular';
        text-transform: none;
        position: relative;
        padding-right: 5px;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            top: 5px;
            right: -15px;
            width: 16px;
            height: 16px;
            background-image: url(../images/arrow_down.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.group__price-setings{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media screen and(max-width: 1439px) {
    .product__items{
        justify-content: flex-start;
    }
    .product__box{
        margin-top: 20px;
    }
    .price__btn{
        margin-top: 10px;
    }
    .group__price-setings{
        flex-direction: column-reverse;
        width: auto;
        margin-left: 20px;
    }
    .settings-options{
        min-width: auto;
    }
}
@media screen and(max-width: 640px) {
    h2{
        font-size: 2em;
    }
    .product__title{
        text-align: left;
        max-width: 100%;
    }
    .product__items{
        flex-direction: column;
        align-items: center;
    }
    .group__price-setings{
        margin-left: 0;
    }
    .price{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__btn{
            width: 100%;
        }
    }
}