@import "style";


.pageInWork{
    &__container{
        justify-content: center;
        padding-top: 5%;
    }
}
.form{
    align-items: center;
    &__box{
        align-items: flex-start;
    }
}
.catalogWorking{
    &__container{
        flex-direction: column;
    }
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-go{
            display: flex;
            align-items: center;
            a{
                color: $ns;
                margin-right: 12px;
            }
        }
    }
}
.text-container{
    max-width: 540px;
}
@media screen and (max-width: 1110px) {
    .catalogWorking__title{
        flex-direction: column;
    }
}