@import "_global";
@import "_slider";
//----------------------------------------------------------секция ABOUT----------------------------------------------------
.about{
    &__container{
        justify-content: space-between;
    }
    &__text{
        margin-right: 2%;
    }
    &__img{
        max-height: 472px;
        background: $ns;
        img{
            max-height: 472px;
            opacity: 0.9;
        }
    }
}
//----------------------------------------------------------секция HOWTAKE----------------------------------------------------
.howtake{
    width: 100%;
    height: 100%;
    background-image: url(../images/van.webp);
    background-repeat: no-repeat;
    background-size: cover;
    &__container{
        align-items: center;
    }
    &__inner{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    &__text{
        text-align: center;
    }
    .text-box__title{
        color: $mw;
    }
    .text-box__main{
        width: 560px;
        padding-bottom: 32px;
        color: $mw;
    }
}

@import "mediaIndex";